<a href="/posts/new">글 쓰러가기</a>

    <% @posts.each do |post| %>
<p>작성자: <%= post.user.email %></p>
  <p><%= post.id %>번째글이다.</p>
  <p>제목:<%= post.title %></p>
  <p>내용:<%= post.content %></p>
  <%= link_to '글보기',post,class: "btn btn-primary" %>
    <%if current_user.liked_posts.include? post%>

      <%= link_to "/posts/#{post.id}/like",data: {id: post.id},remote: true,method: :delete do%>
      <i class="fas fa-heart"></i>
      <%end%>
    <%else%>
    <%= link_to "/posts/#{post.id}/like",data: {id: post.id},remote: true,method: :put do%>
      <i class="far fa-heart"></i>
    <%end%>

  <!-- <a href="/posts/<%=post.id%>">글 보러가기</a> -->
  <% end %>
  <span>
    <%=post.liked_users.count %>
  </span>
<% end %>
<%= paginate @posts%>
<br />
